button.Button {
	--height: 48px;
	height: var(--height);
	min-height: var(--height);
	background-color: var(--red);
	color: var(--rose-50);
	border: 0;
	border-radius: calc(var(--height) / 2);
	cursor: pointer;
	transition: 0.5s;

	&:hover {
		filter: brightness(0.9);
	}
}
