.QuantitySelector {
	--height: 48px;
	--icon-size: 18px;
	height: var(--height);
	background-color: var(--red);
	color: var(--rose-50);
	border: 0;
	border-radius: calc(var(--height) / 2);
	cursor: pointer;
	transition: 0.5s;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 calc(var(--height) / 2 - var(--icon-size) / 2);

	svg {
		width: var(--icon-size);
		height: var(--icon-size);
		fill: var(--rose-50);
		border: 1.5px solid var(--rose-50);
		border-radius: 50%;
		padding: 1px;
		cursor: pointer;
		transition: 0.2s;

		&:hover {
			fill: var(--red);
			background-color: var(--rose-50);
		}
	}
}
