.DialogTile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 16px;
	border-bottom: 1px solid var(--rose-100);
	gap: 32px;

	& > .item {
		display: flex;
		gap: 8px;
		align-items: center;

		& > img {
			height: 48px;
			width: 48px;
			border-radius: 8px;
		}

		& > .info {
			display: flex;
			flex-direction: column;
			gap: 4px;

			& > .name {
				font-size: 0.8rem;
				font-weight: 500;
			}

			& > div {
				display: flex;
				gap: 32px;

				& > .quantity {
					font-size: 0.8rem;
					color: var(--red);
					font-weight: 800;
				}

				& > .price {
					font-size: 0.8rem;
					color: var(--rose-500);
				}
			}
		}
	}

	& > .total {
		font-weight: 500;
	}
}
